* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 6em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.game {
  position: relative;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#09adff, #66c6f6);
}

#start-button {
  font-family: 'VT323', monospace;
  font-size: 3em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 4px solid #000000;
  border-radius: 3px;
  padding: 3px 10px;
}

#start-button:hover, #start-button:focus  {
  background-color: #000000;
  color: #FFFFFF;
}

.game-board {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#09adff, #66c6f6);
  border-bottom: 3px solid #004d06;
}

.floor {
  height: 20vh;
  background-image: url("../images/grass.png");
  background-repeat: repeat;
  background-size: 300px;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  margin-top: 50px;
  position: absolute;
  width: 550px;
  animation: clouds-animation 5s infinite linear;
}

#game-over {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: absolute;
  display: none;
  background: #000000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}
